In [1]:
print('hello world')

hello world

In [2]:
x=1
x

1

In [4]:
import sklearn

this is a test

In [10]:
create table 'x' values (1)

SyntaxError: invalid syntax (2132329515.py, line 1)